h3.description #{description}
section.privileges
  each element in privilege_items
    div
      img(src="../../img/" + element.icon)
      h3 #{element.title}
      p #{element.description}
section.promo
  h2 #{promo.title}
  p #{promo.description}
